<footer class="bg-light">
	<section class="py-1">
		<div class="container text-left text-md-start mt-5">
			<!-- Grid row -->
			<div
				class="row mt-3">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<h6 class="text-uppercase fw-bold mb-4 text-body">
						En Route Schuman !
					</h6>
					<p class="text-body">
						En Route Schuman est un site de co-voiturage destiné principalement 
						aux étudiants du Lycée Robert Schuman.
					</p>
				</div>
				<!-- Grid column -->

				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4 text-body">
						Informations légales
					</h6>
					<p class="text-primary">
						<a href="cgu.php" class="text-reset">CGU</a><br>
						<a href="#!" class="text-reset">Gestion des cookies</a>
					</p>
				</div>
				<!-- 
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4"></div>
				-->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<h6 class="text-uppercase fw-bold mb-4 text-body">
						Contact
					</h6>
					<p class="text-body">
						4 Rue Mgr Pelt, 57070 Metz
						<br>
						<a href="mailto:ce.0570057@ac-nancy-metz.fr">ce.0570057@ac-nancy-metz.fr</a>
						<br>
						<i class="fas fa-phone me-3">
						03 87 76 40 40</i>
					</p>
				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
	</section>
</footer>
