{% extends 'base.html.twig' %}

{% block title %}Detail {{voyage.villeDepart}}-{{voyage.villeArrive}}{% endblock %}

{% block body %}
<div class="example-wrapper">
  
    <div class="col-12">
				{{dump()}}
			</div>
        {% for place in place %}
            
        
    place id:
    {{place.id}}{% endfor %}
</div>
{% endblock %}
