{% extends 'base.html.twig' %}

{% block title %}Politique des Cookies{% endblock %}

{% block body %}

<div class="container">
    <div class="mt-3">
        <h4>Qu'est-ce qu'un cookie ?</h4>
        <p>
            Un cookie est un petit fichier texte et recouvre tout type de traceurs « déposés et lus par exemple lors de la consultation d'un site internet, de la lecture d'un courrier électronique, 
            <br>de l'installation ou de l'utilisation d'un logiciel ou d'une application mobile et ce, quel que soit le type de terminal utilisé ». 
            <br>Il peut être déposé par le serveur du Site visité ou par un serveur tiers (régie publicitaire, service de web analytique, etc.). Les cookies ne compromettent pas la sécurité du site.
    
        </p>
    </div>

    <div>
        <h4>Les cookies déposés par BlaBlaSchuman</h4>
        <p>
            Lorsque vous vous connectez sur notre Site, nous sommes susceptibles d’installer divers cookies sur votre terminal.
            <br>
            Les cookies que nous émettons nous permettent :
            <br>
            De maintenir le bon fonctionnement du Site
            <br>
            De mémoriser la version linguistique du Site sélectionnée
            <br>
            D’enregistrer et adapter les fonctionnalités du Site en fonction de vos préférences de navigation (identification, s’adapter aux types d’appareils utilisés)
            <br>
            De gérer l’acceptation et la durée de conservation des cookies
            <br>
            Conformément à la réglementation, les cookies ont une durée de vie maximum de 12 mois.  
        </p>
    </div>
    
    <div>
        <h4>Vos droits</h4>
        <p>
            Conformément à la loi informatique et libertés du 6 janvier 1978 modifiée, et au RGPD, vous disposez d’un droit d’accès,
            <br>
            de rectification, d’opposition, de suppression et de limitation pour les informations issues des cookies et autres traceurs. Pour cela, merci de vous adresser à mesdonnees@wwf.fr.
        </p>
    </div>

</div>


{% endblock %}