{% extends 'base.html.twig' %}

{% block title %}Politique confidentialité
{% endblock %}{% block body %}
<div class="container">
	<div class="mt-3 mb-2 text-center">
		<h1>
			POLITIQUE DE CONFIDENTIALITÉ
		</h1>
		<h2>DONNÉES PERSONNELLES</h2>
	</div>

<div class="mt-4">
    <h5>Définitions</h5>
    <p>
        <strong>L'Éditeur :</strong> La personne, physique ou morale, qui édite les services de communication au public
        <br>en ligne.
        <strong><br>Le Site :</strong> L'ensemble des sites, pages Internet et services en ligne proposés par l'Éditeur.
        <br><strong>L'Utilisateur :</strong> La personne utilisant le Site et les services.
    </p>
</div>

<div class="my-2">
<h4 class="text-danger">1- Nature des données collectées</h4>
<p>
    <strong>
        Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories
        <br>de données suivantes concernant ses Utilisateurs :
    </strong>
    <br>Données d'état-civil, d'identité, d'identification...
    <br>Données relatives à la vie personnelle (habitudes de vie, situation familiale, hors données
    <br>sensibles ou dangereuses)
    <br>Données de connexion (adresses IP, journaux d'événements...)
    <br>Données de localisation (déplacements, données GPS, GSM...
</p>
</div>
<div class="my-2">
    <h4 class="text-danger">2- Communication des données personnelles à des tiers</h4>
    <p>
        <strong>Communication aux autorités sur la base des obligations légales</strong>
        <br>Sur la base des obligations légales, vos données personnelles pourront être divulguées en
        <br>application d'une loi, d'un règlement ou en vertu d'une décision d'une autorité réglementaire ou
        <br>judiciaire compétente. De manière générale, nous nous engageons à nous conformer à toutes
        <br>les règles légales qui pourraient empêcher, limiter ou réglementer la diffusion d’informations ou
        <br>de données et notamment à se conformer à la Loi n° 78-17 du 6 janvier 1978 relative à
        <br>l'informatique, aux fichiers et aux libertés.
        <strong><br>Communication à des tiers en fonction des paramètres du compte</strong>
        <br>Vos données personnelles sont strictement confidentielles et ne peuvent être divulguées à des
        <br>tiers, sauf en cas d’accord exprès obtenu via les paramètres de votre compte.
        <strong><br>Communication à des tiers partenaires</strong>
        <br>Nous pouvons mettre certaines données personnelles à la disposition de partenaires
        <br>stratégiques travaillant avec nous, pour la fourniture de produits et services ou nous aidant à
        <br>commercialiser nos produits auprès des clients.
    </p>
</div>
<div class="my-2">
    <h4>
        3- Viralité des conditions de réutilisation des
        données personnelles
    </h4>
    <p>
        <strong>Engagement sur la viralité des conditions</strong>
        <br>En cas de communication de vos données personnelles à un tiers, ce dernier est tenu
        <br>d'appliquer des conditions de confidentialité identiques à celle du Site.
    </p>
</div>

<div class="my-2">
    <h4 class="text-danger">
        4- Information préalable pour la communication des
        données personnelles à des tiers en cas de fusion /
        absorption
    </h4>
    <p>
        <strong>
            Collecte de l’opt-in (consentement) préalable à la transmission des données suite à une
            <br>fusion / acquisition
        </strong>
        <br>Dans le cas où nous prendrions part à une opération de fusion, d’acquisition ou à toute autre
        <br>forme de cession d’actifs, nous nous engageons à obtenir votre consentement préalable à la
        <br>transmission de vos données personnelles et à maintenir le niveau de confidentialité de vos
        <br>données personnelles auquel vous avez consenti.
    </p>
</div>

<div class="my-2">
    <h4 class="text-danger">5- Agrégation des données</h4>
    <p>
        <strong>Agrégation avec des données non personnelles</strong>
        <br>Nous pouvons publier, divulguer et utiliser les informations agrégées (informations relatives à
        <br>tous nos Utilisateurs ou à des groupes ou catégories spécifiques d'Utilisateurs que nous
        <br>combinons de manière à ce qu'un Utilisateur individuel ne puisse plus être identifié ou
        <br>mentionné) et les informations non personnelles à des fins d'analyse du secteur et du marché,
        <br>de profilage démographique, à des fins promotionnelles et publicitaires et à d'autres fins
        <br>commerciales.
        <strong>
            <br>Agrégation avec des données personnelles disponibles sur les comptes sociaux de
            <br>l'Utilisateur
        </strong>
        <br>Si vous connectez votre compte à un compte d’un autre service afin de faire des envois croisés,
        <br>ledit service pourra nous communiquer vos informations de profil, de connexion, ainsi que toute
        <br>autre information dont vous avez autorisé la divulgation. Nous pouvons agréger les informations
        <br>relatives à tous nos autres Utilisateurs, groupes, comptes, aux données personnelles disponibles
        <br>sur l’Utilisateur
    </p>
</div>

<div class="my-2">
    <h4 class="text-danger">6- Collecte des données d'identité</h4>
    <p>
        <strong>Inscription et identification préalable pour la fourniture du service</strong>
        <br>L’utilisation du Site nécessite une inscription et une identification préalable. Vos données
        <br>nominatives (nom, prénom, adresse postale, e-mail, numéro de téléphone,...) sont utilisées pour
        <br>exécuter nos obligations légales résultant de la livraison des produits et / ou des services, en
        <br>vertu du Contrat de licence utilisateur final, de la Limite de garantie, le cas échéant, ou de toute
        <br>autre condition applicable. Vous ne fournirez pas de fausses informations nominatives et ne
        <br>créerez pas de compte pour une autre personne sans son autorisation. Vos coordonnées
        <br>devront toujours être exactes et à jour.
    </p>
</div>

<div class="my-2">
    <h4 class="text-danger">7- Collecte des données d'identification</h4>
    <p>
        <strong>Utilisation de l'identifiant de l’utilisateur uniquement pour l’accès aux services</strong>
        <br>Nous utilisons vos identifiants électroniques seulement pour et pendant l'exécution du contrat
    </p>
</div>

<div class="my-2">
    <h4 class="text-danger">8 - Géolocalisation</h4>
    <strong>Géolocalisation à des fins de fourniture du service</strong>
    <br>Nous collectons et traitons vos données de géolocalisation afin de vous fournir nos services.
    <br>Nous pouvons être amenés à faire usage des données personnelles dans le but de déterminer
    <br>votre position géographique en temps réel. Conformément à votre droit d'opposition prévu par la
    <br>loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous avez la
    <br>possibilité, à tout moment, de désactiver les fonctions relatives à la géolocalisation.
    <br>Géolocalisation à des fins de croisement
    <br>Nous collectons et traitons vos données de géolocalisation afin de permettre à nos services
    <br>d'identifier les points de croisement dans le temps et dans l'espace avec d'autres Utilisateurs du
    <br>service afin de vous présenter le profil des Utilisateurs croisés. Conformément à votre droit
    <br>d'opposition prévu par la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et
    <br>aux libertés, vous avez la possibilité, à tout moment, de désactiver les fonctions relatives à la
    <br>géolocalisation. Vous reconnaissez alors que le service ne sera plus en mesure de vous
    <br>présenter de profil des autres Utilisateurs.
    <br><strong>Géolocalisation avec mise à disposition des partenaires pour référencement et agrégation
    <br>(avec opt-in)</strong>
    <br>Nous pouvons collecter et traiter vos données de géolocalisation avec nos partenaires. Nous
    <br>nous engageons à anonymiser les données utilisées. Conformément à votre droit d'opposition
    <br>prévu par la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés,
    <br>vous avez la possibilité, à tout moment, de désactiver les fonctions relatives à la
    <br>géolocalisation.
</div>


<div class="my-2">
    <h4 class="text-danger">9- Collecte des données du terminal</h4>
    <strong>Aucune collecte des données techniques</strong>
    <br>Nous ne collectons et ne conservons aucune donnée technique de votre appareil (adresse IP,
    <br>fournisseur d'accès à Internet...).
</div>

<div class="my-2 mt-2 mb-2">
    <h4>10- Cookies</h4>
    <a href="{{ path('mention_legal_cookies') }}" class="btn btn-secondary btn-sm rounded-pill">politique de cookies</a>
</div>

<div class="my-2">
    <h4 class="text-danger">11- Conservation des données techniques</h4>
    <p>
        Durée de conservation des données techniques
        <br>Les données techniques sont conservées pour la durée strictement nécessaire à la réalisation
        <br>des finalités visées ci-avant.
    </p>
</div>

<div class="my-2">
    <h4 class="text-danger">12- Délai de conservation des données</h4>
    <p>
        personnelles et d'anonymisation
        <br><strong>Conservation des données pendant la durée de la relation contractuelle</strong>
        <br>Conformément à l'article 6-5° de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux
        <br>fichiers et aux libertés, les données à caractère personnel faisant l'objet d'un traitement ne sont
        <br>pas conservées au-delà du temps nécessaire à l'exécution des obligations définies lors de la
        <br>conclusion du contrat ou de la durée prédéfinie de la relation contractuelle.
        <br><strong>
            Conservation des données anonymisées au delà de la relation contractuelle / après la
            <br>suppression du compte
        </strong>
        <br>Nous conservons les données personnelles pour la durée strictement nécessaire à la réalisation
        <br>des finalités décrites dans les présentes Politiques de confidentialité. Au-delà de cette durée,
        <br>elles seront anonymisées et conservées à des fins exclusivement statistiques et ne donneront
        <br>lieu à aucune exploitation, de quelque nature que ce soit.
        <strong><br>Suppression des données après suppression du compte</strong>
        <br>Des moyens de purge de données sont mis en place afin d'en prévoir la suppression effective
        <br>dès lors que la durée de conservation ou d'archivage nécessaire à l'accomplissement des
        <br>finalités déterminées ou imposées est atteinte. Conformément à la loi n°78-17 du 6 janvier 1978
        <br>relative à l'informatique, aux fichiers et aux libertés, vous disposez par ailleurs d'un droit de
        <br>suppression sur vos données que vous pouvez exercer à tout moment en prenant contact avec
        <br>l'Éditeur.
        <strong><br>Suppression des données après 3 ans d'inactivité</strong>
        <br>Pour des raisons de sécurité, si vous ne vous êtes pas authentifié sur le Site pendant une
        <br>période de trois ans, vous recevrez un e-mail vous invitant à vous connecter dans les plus brefs
        <br>délais, sans quoi vos données seront supprimées de nos bases de données
    </p>
</div>

<div class="my-2">
    <h4 class="text-danger">13- Suppression du compte</h4>
    <p>
        <strong>Suppression du compte à la demande</strong>
        <br>L'Utilisateur a la possibilité de supprimer son Compte à tout moment, par simple demande à
        <br>l'Éditeur OU par le menu de suppression de Compte présent dans les paramètres du Compte le
        <br>cas échéant.
        <strong><br>Suppression du compte en cas de violation de la Politique de Confidentialité</strong>
        <br>En cas de violation d'une ou de plusieurs dispositions de la Politique de Confidentialité ou de tout
        <br>autre document incorporé aux présentes par référence, l'Éditeur se réserve le droit de mettre fin
        <br>ou restreindre sans aucun avertissement préalable et à sa seule discrétion, votre usage et accès
        <br>aux services, à votre compte et à tous les Sites.
    </p>
</div>

<div class="my-2">
    <h4 class="text-danger">
        14- Indications en cas de faille de sécurité décelée
        par l'Éditeur
    </h4>
    <p>
        <strong>Information de l'Utilisateur en cas de faille de sécurité</strong>
        <br>Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles
        <br>appropriées afin de garantir un niveau de sécurité adapté au regard des risques d'accès
        <br>accidentels, non autorisés ou illégaux, de divulgation, d'altération, de perte ou encore de
        <br>destruction des données personnelles vous concernant. Dans l'éventualité où nous prendrions
        <br>connaissance d'un accès illégal aux données personnelles vous concernant stockées sur nos
        <br>serveurs ou ceux de nos prestataires, ou d'un accès non autorisé ayant pour conséquence la
        <br>réalisation des risques identifiés ci-dessus, nous nous engageons à :
        <br>Vous notifier l'incident dans les plus brefs délais ;
        <br>Examiner les causes de l'incident et vous en informer ;
        <br>Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets négatifs
        <br>et préjudices pouvant résulter dudit incident.
        <strong><br><br>Limitation de la responsabilité</strong>
        <br>En aucun cas les engagements définis au point ci-dessus relatifs à la notification en cas de faille
        <br>de sécurité ne peuvent être assimilés à une quelconque reconnaissance de faute ou de
        <br>responsabilité quant à la survenance de l'incident en question.
    </p>
</div>

<div class="my-2">
    <h4>15- Transfert des données personnelles à l'étranger</h4>
    <p>
        <strong>Pas de transfert en dehors de l'Union européenne</strong>
        <br>L'Éditeur s'engage à ne pas transférer les données personnelles de ses Utilisateurs en dehors
        <br>de l'Union européenne.
        <br>https://www.cnil.fr/fr/la-protection-des-donnees-dans-le-mondehttps://www.cnil.fr/fr/la-protectiondes-donnees-dans-le-monde
    </p>
</div>

<div class="my-2">
    <h4 class="text-danger">16- Modification de la politique de confidentialité</h4>
    <p>
        <strong>
            En cas de modification de la présente Politique de Confidentialité, engagement de ne pas
            <br>baisser le niveau de confidentialité de manière substantielle sans l'information préalable
            <br>des personnes concernées
        </strong>
        <br>Nous nous engageons à vous informer en cas de modification substantielle de la présente
        <br>Politique de Confidentialité, et à ne pas baisser le niveau de confidentialité de vos données de
        <br>manière substantielle sans vous en informer et obtenir votre consentement.
    </p>
</div>

<div class="my-2">
    <h4>17- Droit applicable et modalités de recours</h4>
    <p>
        <strong>Clause d'arbitrage</strong>
        <br>Vous acceptez expressément que tout litige susceptible de naître du fait de la présente Politique
        <br>de Confidentialité, notamment de son interprétation ou de son exécution, relèvera d'une
        <br>procédure d'arbitrage soumise au règlement de la plateforme d'arbitrage choisie d'un commun
        <br>accord, auquel vous adhérerez sans réserve.
    </p>
</div>

<div class="mt-2 mb-4">
    <h4 class="text-danger">18- Portabilité des données</h4>
    <p>
        <strong>Portabilité des données</strong>
        <br>L'Éditeur s'engage à vous offrir la possibilité de vous faire restituer l'ensemble des données
        <br>vous concernant sur simple demande. L'Utilisateur se voit ainsi garantir une meilleure
        <br>maîtrise de ses données, et garde la possibilité de les réutiliser. Ces données devront être
        <br>fournies dans un format ouvert et aisément réutilisable.
    </p>
</div>

</div>
{% endblock %}
