<h5>Vos prochains voyages passagers :</h5>

{% for places in place %}
	{#for correspond à un foreach et parcour le tab de place et ici je renomme l'item places#}
	{% if places.user == app.user %}
		{% if places.voyage.heureDepart > date() %}

			<div class="col-4 ml-1 mt-3">
				<div class="card" style="width: 18rem;">
					<div>
						<div class="card-body">
							<h6 class="card-title">{{places.voyage.villeDepart}}-{{places.voyage.villeArrive}}</h6>
							<h6 class="card-subtitle">
								<div class="mb-2 text-muted">
									Départ le
									{{ places.voyage.heureDepart|date('d F') }}
									<div>
										<a href="{{ path('detail_list', {slug: places.voyage.slug}) }}" class="card-link">Plus d'info</a>
									</div>
								</div>
							</h6>
						</div>
					</div>
				</div>
			</div>

		{% endif %}
	{% endif %}
{% endfor %}
