{% extends 'base.html.twig' %}

{% block title %}Travel
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
                {{dump()}}
            </div>
		</section>
	</main>
{% endblock %}
