{% extends 'base.html.twig' %}

{% block title %}Travel
{% endblock %}

{% block body %}
	<div class="container row">

		{% include "travel/_content.html.twig"%}{# aligner 3 par ligne et colonne #}
		
	</div>
	

{% endblock %}
